In [1]:
import pandas as pd
import numpy as np
import csv 

f = open('220523_abuse_data.csv', encoding = "utf8")
reader = csv.reader(f)
csv_list = []
for i in reader:
    csv_list.append(i)
f.close()
log_df = pd.DataFrame(csv_list)
log_df.head(2)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,id,address,abuse_type_id,abuse_type_other,abuser,description,from_country,from_country_code,created_at,None,None,None,None
1,1,12t9YDPgwueZ9NyMgw519p7AA8isjr6SMw,1,,wannacry,https://bitcointalk.org/index.php?topic=1916199.0,,,2017-05-16T04:28:13.000000Z,None,None,None,None

In [6]:
raw_data= pd.concat([log_df[1], log_df[2]], axis=1)
raw_data.head(10)

                                    1              2
0                             address  abuse_type_id
1  12t9YDPgwueZ9NyMgw519p7AA8isjr6SMw              1
2  115p7UMMngoj1pMvkpHijcRdfJNXj6LrLn              1
3  13AM4VW2dhxYgXeQepoHkHSQuy6NgaEb94              1
4  13AM4VW2dhxYgXeQepoHkHSQuy6NgaEb94              1
5  1Doho93x24sbs4jyPw6wn87xjQSuFS8wrt             99
6  1HRfpKi6sY2yaqKi7DK3TtdGULtthHWAzk             99
7  1LuYWbsnoyAHCwsLTguswPPXgubDA8kLuF             99
8  1KAZH8xQnZQrGBLqB8VorX1XSGEVLgjnj1             99
9  1CamL5swGf1sVCkzuya6TyE1KXAT3xmdxZ             99

In [21]:
# 1: ransomware
# 2: blackmail scam
# 3: sextortion
# 4: darknet market
# 5: bitcoin tumbler
# 99: other
# raw_data.to_csv('abuse_adress_.csv', header = False, index = False)

In [27]:
t = raw_data[2] == '99'
save_data = raw_data[t]
save_data = pd.concat([save_data[1]], axis=1)
save_data.columns = ['Address']
save_data.to_csv('abuse_other_address.csv', header=True, index=False)